n8n/workflow-sync-api.json
{
  "name": "Data Sync - Meu Investimento",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 1 Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": "1.1",
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:3000/api/sync?action=sync",
        "options": {
          "timeout": 30000
        }
      },
      "id": "http-request",
      "name": "Sync Market Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": "4.1",
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst summary = {\n  success: data.success,\n  updated: data.data?.updated || 0,\n  message: data.data?.updated > 0 ? 'Sincronizados ' + data.data.updated + ' ativos' : 'Nenhum dado atualizado'\n};\nreturn { json: summary };"
      },
      "id": "transform",
      "name": "Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": "2",
      "position": [750, 300]
    }
  ],
  "connections": {
    "Every 1 Hour": {
      "main": [
        [
          {
            "node": "Sync Market Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Market Data": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": ["investimento", "market-data"]
}